html, body, head, div, header, aside{
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
}
#container{
	width: 100%;
	height: 100%;
}
header{
	height: 30px;
	background-color: gray;
	text-align: center;
}
#map-canvas{
	width: 100%;
	height: 100%;
	float: right;
	display: inline-block;
}
aside{
	overflow: hidden;
	position: absolute; 
	width: 300px;
	display: inline-block;
	z-index: 100;
	background-color: white;
}