html, body, head, div, header, aside{
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
}
#container{
	width: 100%;
	height: 100%;
}
header{
	height: 20px;
	background-color: gray;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1;
}
#map-canvas{
	width: 100%;
	height: 100%;
	float: right;
	display: inline-block;
}
aside{
	overflow: hidden;
	position: fixed; 
	width: 300px;
	display: inline-block;
	z-index: 1;
	background-color: white;
	top: 20px;
	opacity: 0.4;
	transition: opacity 0.5s;
}
aside:hover{
	opacity: 1;
}
#sidebar{
	padding: 5px;
}
footer{
	height: 20px;
	background-color: gray;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 1;
	padding-left: 5px;
}
footer a{
	text-decoration: none;	
}
