html, body, head, div, header, aside{
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
}
#container{
	width: 100%;
	height: 100%;
}
header{
	height: 30px;
	background-color: gray;
	text-align: center;
}
#map-canvas{
	width: 60%;
	height: 450px;
	float: left;
	display: inline-block;
}
aside{
	outline: 1px solid black;
	overflow: hidden;
	width: 40%;
	display: inline-block;
}