html, body, div, header, aside{
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
}
#container, #table, tr, td, #map-canvas{
	width: 100%;
	height: 100%;
}
header{
	height: 20px;
	background-color: gray;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1;
	color: white;
}
#map-canvas{
	text-align: center;
}
#table td{
	vertical-align: middle;	
}
aside{
	overflow: hidden;
	position: fixed; 
	width: 300px;
	display: inline-block;
	z-index: 1;
	background-color: white;
	top: 20px;
	opacity: 0.4;
	transition: opacity 0.5s;
}
aside:hover{
	opacity: 1;
}
#results{
	padding: 5px;
}
footer{
	height: 20px;
	background-color: gray;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 1;
	color: white;
}
footer a{
	text-decoration: none;	
}
#footer_left, #footer_right{
	position: absolute;
}
#footer_left{
	left: 0px;
	padding-left: 5px;
}
#footer_right{
	right: 0px;
	padding-right: 5px;
}
.visible{
	opacity: 1;
}
