body {
	padding: 0px;
	margin: 0px;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.map {
	text-align: center;
	width: 100%;
	height: 100%;
}

.header {
	font-family: arial,sans-serif;
	width: 100%;
	height: 30px;
	background-color: #000;
	color: white;
}
.result {
	line-height: 30px;
	padding: 0px 10px;
}
